<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h3> Add classroom</h3>

    <form action="#" th:action="@{/processclassroom}" th:object="${classroom}" method="post">

            BuildingName : <input type="text" th:field="*{buildingName}" /> <br>

            Roomnumber : <input type="text" th:field="*{roomNumber}" /> <br>

            Maxcapacity : <input type="text" th:field="*{maxCapacity}" /> <br>

        <input type="submit" value="Submit" />
    </form>

</body>
</html>